<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995927917346-couck5mgnvq46i65i6vcnrrkac0dr78p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995927917346-couck5mgnvq46i65i6vcnrrkac0dr78p</string>
	<key>API_KEY</key>
	<string>AIzaSyCOglCesqhc8dAMzgi_zqf0mgbvH3Kqwn0</string>
	<key>GCM_SENDER_ID</key>
	<string>995927917346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>messageme-app-9e957</string>
	<key>STORAGE_BUCKET</key>
	<string>messageme-app-9e957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995927917346:ios:898c3bfb6c7eb6d880db7b</string>
</dict>
</plist>